@font-face {
	font-family: BMitra;
	font-weight: normal;
	src: url('../fonts/bmitra.woff') format('woff');
}

.per {
	font-family: "BMitra", 'Open Sans', helvetica, arial, sans-serif;
	direction: rtl;
	text-align: right;
	font-size: 17px;
	line-height: 1.5;
}

.persian-font {
	font-family: "BMitra", 'Open Sans', helvetica, arial, sans-serif;
	direction: rtl;
	text-align: right;
}

.persian-font.medium {
	font-size: 22px;

}

.sweet-alert h2 .per {
	font-family: "BMitra", 'Open Sans', helvetica, arial, sans-serif;
	direction: rtl;
	font-size: 30px;
	text-align: right;
}
