{% extends 'Base-fa.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    Advertisements
{% endblock title %}
{% block style %}
    <style>

        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
        }

        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }

    </style>


{% endblock style %}
{% block head %}
    <link href="{% static "css/plugins/leaflet/leaflet.css" %}" rel="stylesheet">
    <link href="{% static "css/plugins/sweetalert/sweetalert.css" %}" rel="stylesheet">
{% endblock head %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-body">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="border-width: 0">
                        <h3 class="per">{% trans "Booth Advertisments" %} </h3>
                    </div>
                    <div class="ibox-content">
                        <form action="" method="post" class="form-horizontal">{% csrf_token %}
                            <div class="row">
                                <div class="col-md-8 b-r">
                                    <div class="row form-group">
                                        <label class="col-sm-4 control-label per">{% trans "Advertisement Name" %}:</label>
                                        <div class="col-sm-8">
                                            <input id="advertisement_name" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label class="col-sm-4 control-label  per">{% trans "Advertisement Text" %}:</label>
                                        <div class="col-sm-8">
                                            <textarea id="advertisement_text" class="form-control editable_element" cols="40" maxlength="300" name="description" rows="5" required=""></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <div class="ibox-title" style="border-top-width:0px">
                                            <h4 class="per">{% trans "Advertisement Summary" %}</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <span class="per">{% trans "Total Price" %}</span>
                                            <h4 id="total_price" class="font-bold">0</h4>
                                            <hr>
                                            <div class="m-t-sm">
                                                <div class="btn-group">
                                                    <button type="button" id="save_button" class="btn btn-primary btn-sm  per">{% trans "Save" %}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="map" style="height: 190px"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script src="{% static "js/plugins/leaflet/leaflet.js" %}"></script>
    <script src="{% static "js/plugins/sweetalert/sweetalert.min.js" %}"></script>
    <script>
        $(document).ready(function () {
            var map = L.map('map', {
                crs: L.CRS.Simple,
                minZoom: -2
            });
            map.setView([10, 200], -2);

            var bounds = [[-400, -300], [400, 300]];
            var image = L.imageOverlay('{% static 'css/plugins/leaflet/images/test-map.png' %}', bounds).addTo(map);

            {#     change default icon on map#}
            $('.leaflet-container').css('cursor', 'crosshair');
            function makeRec(x1, y1, x2, y2) {
                return [[x1, y1], [x2, y1], [x2, y2], [x1, y2]]
            }

            map.on('click', function (e) {
                console.log('x = ' + e.latlng.lng + ", y = " + e.latlng.lat);
            });

            var allRecAreas = {{ response | safe}};
            var polygons = [];
            for (i = 0; i < allRecAreas.length; i++) {
                var t_x = allRecAreas[i]['t_x'];
                var t_y = allRecAreas[i]['t_y'];
                var b_x = allRecAreas[i]['b_x'];
                var b_y = allRecAreas[i]['b_y'];
                polygons.push(makeRec(t_x, t_y, b_x, b_y));
            }
            var t_price = 0;
            ///////////////
            var sections = {
                "type": "FeatureCollection", "features": []
            };

            for (var i = 0; i < polygons.length; i++) {
                sections.features.push(
                    {
                        "type": "Feature",
                        "id": i.toString(),
                        "properties": {"name": allRecAreas[i]['section_name'], "price": allRecAreas[i]['base_price']},
                        "geometry": {
                            "type": "Polygon",
                            "coordinates": [polygons[i]]
                        }
                    }
                )
            }
            var selectedSections = [];

            // control that shows state info on hover
            var info = L.control();

            info.onAdd = function (map) {
                this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
                this.update();
                return this._div;
            };

            // method that we will use to update the control based on feature properties passed
            info.update = function (props) {
                this._div.innerHTML = (props ? '<b>' + props.name + '</b><br/><b> Price : ' + props.price + '</b>' : 'Please move your mouse on a colored ad. section.');
            };

            info.addTo(map);


            function getColor(d) {
                return d > 100 ? '#800026' :
                    d > 90 ? '#BD0026' :
                        d > 80 ? '#E31A1C' :
                            d > 70 ? '#FC4E2A' :
                                d > 60 ? '#FD8D3C' :
                                    d > 50 ? '#FEB24C' :
                                        d > 40 ? '#FED976' :
                                            d > 30 ? '#e2ca26' :
                                                d > 20 ? '#e5d044' :
                                                    d > 10 ? '#efdf77' :
                                                        '#e8e0a4';
            }

            function style(feature) {
                return {
                    fillColor: getColor(feature.properties.price),
                    weight: 2,
                    opacity: 1,
                    color: 'white',
                    dashArray: '3',
                    fillOpacity: 0.7
                };
            }

            function sectionHover(e) {
                var layer = e.target;
                if (layer.options.color != "green") {
                    layer.setStyle({
                        weight: 3,
                        color: '#666',
                        dashArray: '',
                        fillOpacity: 0.6
                    });

                    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                        layer.bringToFront();
                    }
                }
                info.update(layer.feature.properties);
            }

            function sectionMouseOut(e) {
                var layer = e.target;
                if (layer.options.color == "#666") {
                    geojson.resetStyle(e.target);
                    info.update();
                }

            }

            function sectionClick(e) {
                var layer = e.target;
                if (layer.options.color != "green") {
                    selectedSections.push(layer.feature.properties.name);
                    t_price += layer.feature.properties.price;
                    updatePrice();
                    layer.setStyle({
                        weight: 3,
                        color: 'green',
                        dashArray: '',
                        fillOpacity: 0.6
                    });
                } else {
                    selectedSections.pop(layer.feature.properties.name);
                    t_price -= layer.feature.properties.price;
                    updatePrice();
                    layer.setStyle({
                        weight: 2,
                        color: 'white',
                        dashArray: '3',
                        fillOpacity: 0.7
                    });
                }
            }


            function onEachFeature(feature, layer) {
                layer.on({
                    mouseover: sectionHover,
                    mouseout: sectionMouseOut,
                    click: sectionClick
                });
            }

            geojson = L.geoJson(sections, {
                style: style,
                onEachFeature: onEachFeature
            }).addTo(map);
            function checkFields() {
                var advertisement_name = $('#advertisement_name').val();
                var advertisement_text = $('#advertisement_text').val();
                if (advertisement_name === "" || advertisement_text === "" || selectedSections.length == 0) {
                    return false
                } else {
                    return true
                }

            }

            function updatePrice() {
                $('#total_price').html(t_price);
            }

            {#            handling data submition#}
            $('#save_button').click(function () {
                if (checkFields()) {
                    swal({
                        title: "Advertisement Submission",
                        text: "You are going to add the following advertisement:",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, Add it!",
                        closeOnConfirm: false
                    }, function () {
                        var advertisement_name = $('#advertisement_name').val();
                        var advertisement_text = $('#advertisement_text').val();

                        $.ajax({
                            url: '../../ajax/makeAdvertisementsOrder',
                            data: {
                                'advertisement_name': advertisement_name,
                                'advertisement_text': advertisement_text,
                                'selectedSections[]': selectedSections
                            },
                            dataType: 'json',
                            traditional: true,
                            success: function (data) {
                                swal("Success!", "Your advertisement has been submitted.", "success");
                            }
                        });
                    });
                } else {
                    swal("Please enter the required fields!", "Please enter advertisement name and text and select at least one section.", "error");
                }
            });


        });
    </script>
{% endblock script %}
