{% extends 'Base-fa.html' %}
{% load staticfiles %}
{% block title %}
	Home Page
{% endblock title %}
{% block head %}
	{#    <link href="{% static "css/plugins/footable/footable.core.css" %}" rel="stylesheet">#}
{% endblock head %}
{% block content %}
	<div class="row">
		<div class="col-lg-3">
			<div class="panel panel-primary">
				<div class="panel-body">
					<div class="panel panel-primary">
						<div class="panel-heading per" style="text-align: center">
							تعداد بازدید ها از صفحه غرفه شما
						</div>
						<div class="panel-body">
							<table class="table">
								<thead>
								<tr>
									<th>زمان</th>
									<th>تعداد</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td> یک ساعت اخیر</td>
									<td> 21</td>
								</tr>
								<tr>
									<td> یک روز پیش</td>
									<td> 98</td>
								</tr>
								<tr>
									<td> کل</td>
									<td> 397</td>
								</tr>

								</tbody>
							</table>


						</div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading per" style="text-align: center">
							تعداد بازدید های حضوری از غرفه شما
						</div>
						<div class="panel-body">
							<table class="table">
								<thead>
								<tr>
									<th>زمان</th>
									<th>تعداد</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td> یک ساعت اخیر</td>
									<td> 139</td>
								</tr>
								<tr>
									<td> یک روز پیش</td>
									<td> 444</td>
								</tr>
								<tr>
									<td> کل</td>
									<td> 2276</td>
								</tr>

								</tbody>
							</table>


						</div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading per" style="text-align: center">
							لیست محصولات پر بازدید
						</div>
						<div class="panel-body">
							<table class="table">
								<thead>
								<tr>
									<th>نام محصول</th>
									<th>تعداد بازدید</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td> Samsung Galaxy S8</td>
									<td> 1221</td>
								</tr>
								<tr>
									<td> Samsung Note 5</td>
									<td> 1042</td>
								</tr>
								<tr>
									<td> iphone 6s 64G</td>
									<td> 825</td>
								</tr>
								<tr>
									<td> Asus k556UQ</td>
									<td> 530</td>
								</tr>
								<tr>
									<td> Accer Aspire ES1</td>
									<td> 523</td>
								</tr>
								<tr>
									<td> رمان قلعه حیوانات</td>
									<td> 290</td>
								</tr>
								<tr>
									<td> کتانی مردانه نایکی Free Rn</td>
									<td> 208</td>
								</tr>
								<tr>
									<td> Apple watch 2</td>
									<td> 171</td>
								</tr>
								<tr>
									<td> رمان کلیدر</td>
									<td> 120</td>
								</tr>
								<tr>
									<td> تلویزیون ال جی 55UH65200GI</td>
									<td> 56</td>
								</tr>

								</tbody>
							</table>


						</div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading per" style="text-align: center">
							لیست تبلیغات پر بازدید
						</div>
						<div class="panel-body">
							<table class="table">
								<thead>
								<tr>
									<th>عنوان تبلیغ</th>
									<th>تعداد بازدید</th>

								</tr>
								</thead>
								<tbody>
								<tr>
									<td> طرح ویژه تابستانی ایرانسل</td>
									<td> 2013</td>
								</tr>
								<tr>
									<td> از کران گذر Galaxy S8</td>
									<td> 1481</td>
								</tr>
								<tr>
									<td> نقشه نمایشگاه الکامپ</td>
									<td> 1291</td>
								</tr>
								<tr>
									<td> نیازمندی های رایگان اینترنتی ، شیپور</td>
									<td> 940</td>
								</tr>
								<tr>
									<td> تخفیف های تابستانه دیجی کالا</td>
									<td> 937</td>
								</tr>
								<tr>
									<td> برنده LG g5 شو!</td>
									<td> 877</td>
								</tr>
								<tr>
									<td> سفر های رایگان آخر هفته ، تپسی</td>
									<td> 755</td>
								</tr>
								<tr>
									<td> فروش تابستانه تویوتا</td>
									<td> 312</td>
								</tr>
								<tr>
									<td> تماشا آنلاین تلویزیون آسیاتک</td>
									<td> 303</td>
								</tr>
								<tr>
									<td> خدمات اینترنتی بانک ملت</td>
									<td> 131</td>
								</tr>

								</tbody>
							</table>


						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-9">
			<div class="panel panel-primary">
				<div class="panel-body">
					<div class="col-md-8">
						<div class="panel panel-primary">
							<div class="panel-body">
								<div class="panel panel-primary">
									<div class="panel-body">
										<canvas id="lineChart1" height="155"></canvas>
									</div>
								</div>
								<div class="panel panel-primary">
									<div class="panel-body">
										<canvas id="lineChart2" height="155"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-primary">
							<div class="panel-body">
								<div class="panel panel-primary">
									<div class="panel-heading per" style="text-align: center">
										آمار بازدید کنندگان صفحه بر اساس سن
									</div>
									<div class="panel-body">
										<canvas id="doughnutChart1" width="80" height="80"></canvas>
									</div>
								</div>
								<div class="panel panel-primary">
									<div class="panel-heading per" style="text-align: center">
										آمار بازدیدکنندگان صفحه بر اساس جنسیت
									</div>
									<div class="panel-body">
										<canvas id="doughnutChart2" width="80" height="80"></canvas>
									</div>
								</div>


							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-body">
					<div class="col-md-6">
						<div class="panel panel-primary">
							<div class="panel-heading per" style="text-align: center">
								آمار بازدید کنندگان حضوری از غرفه بر اساس سن
							</div>
							<div class="panel-body">
								<canvas id="doughnutChart3" width="80" height="63"></canvas>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-primary">
							<div class="panel-heading per" style="text-align: center">
								آمار تقسیم بندی بازدیدکنندگان حضوری از غرفه بر اساس جنسیت
							</div>
							<div class="panel-body">
								<canvas id="doughnutChart4" width="80" height="63"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-body">
					<div class="panel panel-primary">
						<div class="panel-heading per" style="text-align: center">
							نقشه ی تراکم جمعیت
						</div>
						<div class="panel-body">
							<img alt="image" class="img-responsive" src="{% static 'css/plugins/leaflet/images/hall8.png' %}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
{% block script %}
	<script src="{% static "js/plugins/chartJs/Chart.min.js" %}"></script>
	<script src="{% static "js/plugins/leaflet/leaflet.js" %}"></script>
	<script>
		var map = L.map('map', {
			crs: L.CRS.Simple,
			minZoom: -2
		});
		var bounds = [[-100, -100], [100, 100]];
		var image = L.imageOverlay('{% static 'css/plugins/leaflet/images/mapFinal34.png' %}', bounds).addTo(map);
		map.setView([100, 1000], -1);


	</script>
	<script>
		$('td').addClass('per');
		$('th').addClass('per');
		$('.chart-legend li span').addClass('per');


		var lineData1 = {
			labels: ["	امروز	",
				"	1 روز پیش	",
				"	2 روز پیش	",
				"	3 روز پیش	",
				"	4 روز پیش	",
				"	5 روز پیش	"]
			,
			datasets: [
				{
					label: "میانگین زمان سپری شده هر فرد نزدیک فضای غرفه شما",
					backgroundColor: "rgba(26,179,148,0.5)",
					borderColor: "rgba(26,179,148,0.7)",
					pointBackgroundColor: "rgba(26,179,148,1)",
					pointBorderColor: "#fff",
					data: [46, 131, 118, 227, 105, 44]

				}
			]
		};

		var lineData2 = {
			labels: ["	امروز	",
				"	1 روز پیش	",
				"	2 روز پیش	",
				"	3 روز پیش	",
				"	4 روز پیش	",
				"	5 روز پیش	"]
			,
			datasets: [
				{
					label: "میانگین افراد بازدید کننده از غرفه شما",
					backgroundColor: "#ffde1f",
					borderColor: "#ff7f1e",
					pointBackgroundColor: "#ff610f",
					pointBorderColor: "#fff",
					data: [66, 330, 292, 650, 284, 355]


				}
			]
		};

		var lineOptions = {
			responsive: true
		};


		var ctx1 = document.getElementById("lineChart1").getContext("2d");
		new Chart(ctx1, {type: 'line', data: lineData1, options: lineOptions});

		var ctx2 = document.getElementById("lineChart2").getContext("2d");
		new Chart(ctx2, {type: 'line', data: lineData2, options: lineOptions});


		//doughnut chart

		var doughnutData1 = {
			labels: ["زیر 20 سال", "20-26", "26-40", "40 - 60", "بالای 60 سال"],
			datasets: [{
				data: [4, 57, 25, 13, 1],
				backgroundColor: ["#a3e1d4", "#dedede", "#b5b8cf", "#a3e1d4", "#a3e1d4"]
			}]
		};


		var doughnutData2 = {
			labels: ["زن", "مرد"],
			datasets: [{
				data: [43, 57],
				backgroundColor: ["#a3e1d4", "#dedede"]
			}]
		};

		var doughnutData3 = {
			labels: ["زیر 20 سال", "20-26", "26-40", "40 - 60", "بالای 60 سال"],
			datasets: [{
				data: [2, 73, 12, 3, 10],
				backgroundColor: ["#a3e1d4", "#dedede", "#b5b8cf", "#a3e1d4", "#a3e1d4"]
			}]
		};

		var doughnutOptions = {
			responsive: true
		};

		var doughnutData4 = {
			labels: ["زن", "مرد"],
			datasets: [{
				data: [33, 67],
				backgroundColor: ["#a3e1d4", "#dedede"]
			}]
		};


		var ctx3 = document.getElementById("doughnutChart1").getContext("2d");
		new Chart(ctx3, {type: 'doughnut', data: doughnutData1, options: doughnutOptions});

		var ctx4 = document.getElementById("doughnutChart2").getContext("2d");
		new Chart(ctx4, {type: 'doughnut', data: doughnutData2, options: doughnutOptions});

		var ctx5 = document.getElementById("doughnutChart3").getContext("2d");
		new Chart(ctx5, {type: 'doughnut', data: doughnutData3, options: doughnutOptions});

		var ctx6 = document.getElementById("doughnutChart4").getContext("2d");
		new Chart(ctx6, {type: 'doughnut', data: doughnutData4, options: doughnutOptions});
	</script>
{% endblock script %}
