{% extends 'Base-fa.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
	Products Details
{% endblock title %}
{% block head %}
	<link href="{% static 'css/plugins/dropzone/basic.css' %}" rel="stylesheet">
	<link href="{% static 'css/plugins/dropzone/dropzone.css' %}" rel="stylesheet">

	<link href="{% static "css/plugins/footable/footable.core.css" %}" rel="stylesheet">
	<link href="{% static "css/plugins/slick/slick.css" %}" rel="stylesheet">
	<link href="{% static "css/plugins/slick/slick-theme.css" %}" rel="stylesheet">

{% endblock head %}
{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content">
					<div class="row">
						<div class="col-md-10">
							<input type="text" class="form-control input-sm m-b-xs per" id="filter" placeholder="{% trans "Search in table ..." %}">
						</div>
						<div class="col-md-2">
							<button type="button" id="new-product" class="btn btn-block btn-outline btn-info per" style="text-align: center;">{% trans "New Product" %}</button>
						</div>
					</div>
					<table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15" data-filter=#filter>
						<thead>
						<tr>
							<th data-hide="all" data-ignore="true">ID</th>
							<th data-hide="phone" data-sort-ignore="true" class="per">{% trans "Image" %}</th>
							<th data-toggle="true" class="per">{% trans "Product Name" %}</th>
							<th data-hide="phone" class="per">{% trans "Model" %}</th>
							<th class="per">{% trans "Description" %}</th>
							<th data-hide="phone" class="per">{% trans "price" %}</th>
							<th data-hide="phone" class="per">{% trans "status" %}</th>
							<th class="text-right per" data-sort-ignore="true">{% trans "Action" %}</th>
						</tr>
						</thead>
						<tbody>
						{% for product in response.items %}
							<tr>
								<td>
									{{ product.0 }}
								</td>
								<td class="center-version">
									<img src="{{ product.1.image }}" alt="" class="img-circle img-sm">
								</td>
								<td>
									{{ product.1.name }}
								</td>
								<td>
									{{ product.1.model }}
								</td>
								<td>
									{{ product.1.description }}
								</td>
								<td>
									{{ product.1.price }}
								</td>
								<td>
									{% if product.1.status %}
										<span class="label label-primary per">{% trans "Enable" %}</span>
									{% else %}
										<span class="label label-danger per">{% trans "Disable" %}</span>
									{% endif %}
								</td>
								<td class="text-right">
									<div class="btn-group">
										<button class="btn-white btn btn-xs product_view_button per">{% trans "View" %}</button>
										<button class="btn-primary btn btn-xs product_edit_btn product_edit_button per">{% trans "Edit" %}</button>
									</div>
								</td>
							</tr>
						{% endfor %}
						</tbody>
						<tfoot>
						<tr>
							<td colspan="6">
								<ul class="pagination pull-right"></ul>
							</td>
						</tr>
						</tfoot>
					</table>

				</div>
			</div>
		</div>
	</div>

	<div class="modal inmodal fade" id="EditModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
							class="sr-only">{% trans "Close" %}</span>
					</button>
					<h4 class="modal-title per" style="text-align: center">{% trans "Editing" %} <i id="modal_edit_title"></i></h4>
				</div>
				<div class="modal-body">

					<div class="tabs-container">
						<ul class="nav nav-tabs">
							<li class="active per"><a data-toggle="tab" href="#tab-edit-1">{% trans "Product info" %}</a></li>
							<li class="per"><a data-toggle="tab" href="#tab-edit-2"> {% trans "Product Details" %}</a></li>
						</ul>
						<div class="tab-content">
							<div id="tab-edit-1" class="tab-pane active">
								<div class="panel-body">
									<form class="form-horizontal">
										<input id="modal_edit_product_id" type="hidden">

										<div class="form-group"><label class="col-sm-2 control-label per">{% trans "Name" %}:</label>
											<div class="col-sm-10">
												<input id="modal_edit_product_name" type="text" class="form-control" placeholder="Product Model">
											</div>
										</div>
										<div class="form-group"><label class="col-sm-2 control-label per">{% trans "Model" %}:</label>
											<div class="col-sm-10"><input id="modal_edit_product_model" type="text" class="form-control" placeholder="Product Model"></div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label per">{% trans "Price" %}:</label>
											<div class="col-sm-10"><input id="modal_edit_product_price" type="text" class="form-control" placeholder="$160.00"></div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label per">{% trans "Status" %}:</label>
											<div class="col-sm-1 m-r" dir="ltr">
												<div class="switch">
													<div class="onoffswitch">
														<input id="modal_edit_product_status" type="checkbox" checked class="onoffswitch-checkbox per">
														<label class="onoffswitch-label" for="modal_edit_product_status">
															<span class="onoffswitch-inner"></span>
															<span class="onoffswitch-switch"></span>
														</label>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label per">{% trans "Description" %}:</label>
											<div class="col-sm-10">
												<textarea id="modal_edit_description" class="form-control" cols="40" maxlength="300" name="description" rows="5" required=""></textarea>
											</div>
										</div>
									</form>
									<div class="row">
										<div class="col-md-8">
											<form action="#" class="dropzone" id="dropzoneFormEdit">
												<div class="fallback">
													<input name="file" type="file" multiple/>
												</div>
											</form>
										</div>
										<div class="col-md-4">
											<img src="" class="img-rounded img-preview" id="modal_edit_product_img" alt="">
										</div>
									</div>
								</div>
							</div>
							<div id="tab-edit-2" class="tab-pane">
								<div class="panel-body">

									<fieldset class="form-horizontal">
										<div class="form-group"><label class="col-sm-2 control-label">{% trans "Color" %}:</label>
											<div class="col-sm-10"><input type="text" class="form-control" placeholder="سبز" value="خاکستری"></div>
										</div>
										<hr>
										<h3>{% trans "Size" %}</h3>
										<div class="form-group"><label class="col-sm-2 control-label">{% trans "Height" %}:</label>
											<div class="col-sm-10"><input type="text" class="form-control" placeholder="10" value="34.93"></div>
										</div>
										<div class="form-group"><label class="col-sm-2 control-label">{% trans "Width" %}:</label>
											<div class="col-sm-10"><input type="text" class="form-control" placeholder="10" value="24.07"></div>
										</div>
										<div class="form-group"><label class="col-sm-2 control-label">{% trans "Depth" %}:</label>
											<div class="col-sm-10"><input type="text" class="form-control" placeholder="10" value="1.55"></div>
										</div>
										<hr>
										<div class="form-group"><label class="col-sm-2 control-label">{% trans "Weight" %}:</label>
											<div class="col-sm-10"><input type="text" class="form-control" placeholder="1" value="1.83"></div>
										</div>
										<div class="form-group"><label class="col-sm-2 control-label">{% trans "Manufacturer" %}:</label>
											<div class="col-sm-10">
												<select class="form-control">
													<option selected>Apple Inc</option>
													<option>Microsoft</option>
													<option>Dell</option>
													<option>Lenovo</option>
													<option>MSI</option>
												</select>
											</div>
										</div>
									</fieldset>


								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-white per" data-dismiss="modal">{% trans "Close" %}</button>
					<button type="submit" id="submitProductDetails" class="btn btn-primary per" data-dismiss="modal">{% trans "Save Changes" %}</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal inmodal fade" id="ViewModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg" style="width: 800px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
							class="sr-only">{% trans "Close" %}</span>
					</button>
					<h4 class="modal-title" id="modal_view_title">{% trans "View Product Details" %}</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="ibox product-detail">
								<div class="ibox-content">
									<div class="row">
										<div class="col-md-5">

											<img class="img-preview img-rounded" src="" id="modal_view_product_image">

										</div>
										<div class="col-md-7">

											<h2 class="font-bold m-b-xs persian-font" id="modal_view_product_name"></h2>
											<small id="modal_view_product_model"></small>
											<hr>
											<div>
												<div class="row">
													<div class="col-md-8 b-r">
														<h1 class="product-main-price" id="modal_view_product_price"></h1>

													</div>
													<div class="col-md-4 text-center" style="padding-top: 1em;">
														<i id="modal_view_product_status" class="fa fa-2x"></i>
													</div>
												</div>
											</div>
											<hr>
											<h4 class="persian-font medium">{% trans "Product Description" %}</h4>

											<div class="text-muted persian-font" id="modal_view_product_description">
											</div>
											<hr>
											<h4 class="persian-font medium">{% trans "Specification" %}</h4>
											<table class="table table-hover" dir="rtl">
												<tbody>
												<tr>
													<td class="per">{% trans "Color" %}:</td>
													<td class="text-muted per">خاکستری</td>
												</tr>
												<tr>
													<td class="per">{% trans "Size" %}:</td>
													<td>34.93 cm &times; 24.07 cm &times; 1.55cm</td>
												</tr>
												<tr>
													<td class="per">{% trans "Weight" %}:</td>
													<td>1.83 kg</td>
												</tr>
												<tr>
													<td class="per">{% trans "Manufacturer" %}:</td>
													<td>Apple Inc</td>
												</tr>
												</tbody>
											</table>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal inmodal fade" id="newModel" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
							class="sr-only per">{% trans "Close" %}</span>
					</button>
					<h4 class="modal-title per" id="modal_new_title" style="text-align: center;">{% trans "Add new Product" %}</h4>
				</div>
				<div class="modal-body">

					<div class="tabs-container">
						<ul class="nav nav-tabs">
							<li class="active per"><a data-toggle="tab" href="#tab-new-1"> {% trans "Product info" %}</a></li>
							<li class=" per"><a data-toggle="tab" href="#tab-new-2"> {% trans "Product Details" %}</a></li>
						</ul>
						<div class="tab-content">
							<div id="tab-new-1" class="tab-pane active">
								<div class="panel-body">
									<form class="form-horizontal">
										<div class="form-group"><label class="col-sm-2 control-label per">{% trans "Name" %}:</label>
											<div class="col-sm-10">
												<input id="modal_new_product_name" type="text" class="form-control per" placeholder="{% trans "Product Name" %}">
											</div>
										</div>
										<div class="form-group"><label class="col-sm-2 control-label per">{% trans "Model" %}:</label>
											<div class="col-sm-10">
												<input id="modal_new_product_model" type="text" class="form-control per" placeholder="{% trans "Product Model" %}">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label per">{% trans "Price" %}:</label>
											<div class="col-sm-10"><input id="modal_new_product_price" type="text" class="form-control" placeholder="$160.00"></div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label per">{% trans "Status" %}:</label>
											<div class="col-sm-1 m-r" dir="ltr">
												<div class="switch">
													<div class="onoffswitch">
														<input id="modal_new_product_status" type="checkbox" checked class="onoffswitch-checkbox">
														<label class="onoffswitch-label" for="modal_new_product_status">
															<span class="onoffswitch-inner"></span>
															<span class="onoffswitch-switch"></span>
														</label>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label per">{% trans "Description" %}:</label>
											<div class="col-sm-10">
												<textarea id="modal_new_description" class="form-control" cols="40" maxlength="300" name="description" rows="5" required=""></textarea>
											</div>
										</div>
									</form>

								</div>
							</div>
							<div id="tab-new-2" class="tab-pane">
								<div class="panel-body">

									<fieldset class="form-horizontal">
										<div class="form-group"><label class="col-sm-2 control-label">{% trans "Color" %}:</label>
											<div class="col-sm-10"><input type="text" class="form-control" placeholder="سبز" value="خاکستری"></div>
										</div>
										<hr>
										<h3>{% trans "Size" %}</h3>
										<div class="form-group"><label class="col-sm-2 control-label">{% trans "Height" %}:</label>
											<div class="col-sm-10"><input type="text" class="form-control" placeholder="10" value="34.93"></div>
										</div>
										<div class="form-group"><label class="col-sm-2 control-label">{% trans "Width" %}:</label>
											<div class="col-sm-10"><input type="text" class="form-control" placeholder="10" value="24.07"></div>
										</div>
										<div class="form-group"><label class="col-sm-2 control-label">{% trans "Depth" %}:</label>
											<div class="col-sm-10"><input type="text" class="form-control" placeholder="10" value="1.55"></div>
										</div>
										<hr>
										<div class="form-group"><label class="col-sm-2 control-label">{% trans "Weight" %}:</label>
											<div class="col-sm-10"><input type="text" class="form-control" placeholder="1" value="1.83"></div>
										</div>
										<div class="form-group"><label class="col-sm-2 control-label">{% trans "Manufacturer" %}:</label>
											<div class="col-sm-10">
												<select class="form-control">
													<option selected>Apple Inc</option>
													<option>Microsoft</option>
													<option>Dell</option>
													<option>Lenovo</option>
													<option>MSI</option>
												</select>
											</div>
										</div>
									</fieldset>


								</div>
							</div>
						</div>
					</div>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-white per" data-dismiss="modal">{% trans "Close" %}</button>
					<button type="submit" id="submitNewProductDetails" class="btn btn-primary per" data-dismiss="modal">{% trans "Save Changes" %}</button>
				</div>
			</div>
		</div>
	</div>


{% endblock content %}
{% block script %}
	<script src="{% static "js/plugins/footable/footable.all.min.js" %}"></script>
	<script src="{% static "js/plugins/slick/slick.min.js" %}"></script>
	<script src="{% static 'js/plugins/dropzone/dropzone.js' %}"></script>


	<script>


		Dropzone.options.dropzoneFormEdit = {
			url: "{% url 'ajax:uploadProductImage' %}",
			method: 'POST',
			paramName: "image", // The name that will be used to transfer the file
			maxFilesize: 5, // MB
			dictDefaultMessage: "<strong class='per'>{% trans "Drop files here or click." %}</strong>",
			addRemoveLinks: true,
			maxFiles: 1,
			acceptedFiles: "image/*",
			init: function () {
				this.on("sending", function (file, xhr, formData) {
					formData.append("Pid", $('#modal_edit_product_id').val())
				}),
					this.on("success", function (file, xhr) {
						var url = JSON.parse(xhr).url;
						$row.find("td:nth-child(2) img").attr('src', url);
						$('#modal_edit_product_img').attr("src", url);

					});
			}
		};


		var $row;

		$(document).ready(function () {
			$("#te").submit(function () {

				var formData = new FormData($(this)[0]);

				$.ajax({
					url: window.location.pathname,
					type: 'POST',
					data: formData,
					async: false,
					success: function (data) {
						alert(data)
					},
					cache: false,
					contentType: false,
					processData: false
				});

				return false;
			});
			$('.footable').footable();

			$('.product-images').slick({
				dots: true
			});

			$('.product_edit_button').click(function () {
				$('#dropzoneFormEdit')[0].dropzone.removeAllFiles(true);
				$row = $(this).closest("tr");
				var id = $row.find("td:nth-child(1)").text().trim();
				var imgSrc = $row.find("td:nth-child(2) img").attr("src");
				var name = $row.find("td:nth-child(3)").text().trim();
				var model = $row.find("td:nth-child(4)").text().trim();
				var description = $row.find("td:nth-child(5)").text().trim();
				var price = $row.find("td:nth-child(6)").text().trim();
				var $status = $row.find("td:nth-child(7)");

				$('#modal_edit_product_id').val(id);
				$('#modal_edit_product_img').attr("src", imgSrc);
				$('#modal_edit_title').html(name);
				$('#modal_edit_product_name').val(name);
				$('#modal_edit_product_model').val(model);
				$('#modal_edit_product_price').val(price);
				$('#modal_edit_description').val(description);

				if ($status.text().trim() == 'Enable') {
					$("#modal_edit_product_status").attr('checked', true)
				} else {
					$("#modal_edit_product_status").attr('checked', false)

				}
				$('#EditModal').modal('show');
			});

			$('#submitProductDetails').click(function () {
				var productID = $('#modal_edit_product_id').val();
				var productName = $('#modal_edit_product_name').val();
				var productModel = $('#modal_edit_product_model').val();
				var productPrice = $('#modal_edit_product_price').val();
				var productStatus = $("#modal_edit_product_status").is(":checked");
				var productDescription = $('#modal_edit_description').val();
				console.log('HERE!!!');
				$.ajax({
					url: "{% url 'ajax:editProductDetails' %}",
					data: {
						'productID': productID,
						'productName': productName,
						'productModel': productModel,
						'productPrice': productPrice,
						'productStatus': productStatus,
						'productDescription': productDescription
					},
					dataType: 'json',
					success: function (data) {
						if (data['status']) {
							$row.find("td:nth-child(3)").text(data['n_name']);
							$row.find("td:nth-child(4)").text(data['n_model']);
							$row.find("td:nth-child(5)").text(data['n_description']);
							$row.find("td:nth-child(6)").text(data['n_price']);
							$status = $row.find("td:nth-child(7)").find('span:first');
							if (data['n_status']) {
								$status.removeClass('label-danger').addClass('label-primary');
								$status.text('Enable');
							} else {
								$status.removeClass('label-primary').addClass('label-danger');
								$status.text('Disable');
							}
						}
					}
				});
			});


			$('#submitNewProductDetails').click(function () {
				var productName = $('#modal_new_product_name').val();
				var productModel = $('#modal_new_product_model').val();
				var productPrice = $('#modal_new_product_price').val();
				var productStatus = $("#modal_new_product_status").is(":checked");
				var productDescription = $('#modal_new_description').val();
				$.ajax({
					url: "{% url 'ajax:newProductDetails' %}",
					data: {
						'productName': productName,
						'productModel': productModel,
						'productPrice': productPrice,
						'productStatus': productStatus,
						'productDescription': productDescription
					},
					dataType: 'json',
					success: function (data) {
						if (data['status']) {
							var row = "<tr><td>" + data['n_id'] + "</td><td class='center-version'><img src=" + data['n_image'] + " class='img-circle img-sm'></td><td>" + data['n_name'] + "</td><td>" + data['n_model'] + "</td><td>" + data['n_description'] + "</td><td>" +
								data['n_price'] + "</td><td>" + (data['n_status'] ? '<span class="label label-primary">Enable</span>' : '<span class="label label-danger">Disable</span>') +
								'</td><td class="text-right"><div class="btn-group"> <button class="btn-white btn btn-xs product_view_button">View</button>' +
								'<button class="btn-primary btn btn-xs product_edit_btn product_edit_button">Edit</button></div></td></tr>';

							$('table tbody').append(row);
							$('table').trigger('footable_initialize');
						}
					}
				});
			});


			{#modal 2#}
			$('.product_view_button').click(function () {
				$row = $(this).closest("tr");
				var imgSrc = $row.find("td:nth-child(2) img").attr("src");
				var name = $row.find("td:nth-child(3)").text().trim();
				var model = $row.find("td:nth-child(4)").text().trim();
				var description = $row.find("td:nth-child(5)").text().trim();
				var price = $row.find("td:nth-child(6)").text().trim();
				var $status = $row.find("td:nth-child(7)");

				$('#modal_view_product_image').attr("src", imgSrc);
				$('#modal_view_product_name').html(name);
				$('#modal_view_product_model').html(model);
				$('#modal_view_product_price').html(price);
				$('#modal_view_product_description').html(description);

				if ($status.text().trim() == 'Enable') {
					$("#modal_view_product_status").removeClass('fa-times').removeClass('text-danger').addClass('fa-check-square-o').addClass('text-navy');
				} else {
					$("#modal_view_product_status").removeClass('fa-check-square-o').removeClass('text-navy').addClass('fa-times').addClass('text-danger');

				}

				$('#ViewModal').modal('show');
			});

			$('#new-product').click(function () {

				$('#modal_new_product_name').val("");
				$('#modal_new_product_model').val("");
				$('#modal_new_product_price').val("");
				$('#modal_new_description').val("");

				$('#newModel').modal('show');
			});

		});

	</script>
{% endblock script %}